
.container {
    max-width: 80%;
    margin: auto;
    padding: 50px;
    border-left: 1px lightgrey;
    text-align: left;
}


.container>h1 {
    font-size: 36pt;
    padding-top:30px;
    padding-bottom: -30px;
}


.container>h3 {
    font-size: 18pt;
    color: #26a69a;
    padding-top: 20px;
    margin-bottom: 0px;
    font-weight: 500
}

/* .container>p {
    margin-left: 8px;
} */

.container>.job-description {
    margin-left: 10px;
}

.job-title {
    font-size: 12pt;
    margin-top: 20px;
    margin-bottom: 5px;
}

p, table {
    font-size: 11pt;
    margin-top: 5px;
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
}

thead>tr {
    /* border-bottom-style: solid;
    border-bottom-width: 1px; */
    height: 25px;
}

.dev-skills {
    display: inline-table;
    width: 30%;
    justify-content: start;
    min-width: 225px;
    margin: 8px;
}

.dev-skills td {
    min-width: 120px;
}

.design-skills {
    display: inline-table;
    width: 50%;
    justify-content: start;
    min-width: 325px;
    margin: 8px;
}

.design-skills td {
    min-width: 120px;
}