body {
  font-family: 'Raleway', sans-serif;
  /* font-family: bitter, serif; */
  font-family: permanent-marker, sans-serif;
  font-family: reenie-beanie, sans-serif;
}

body p, table {
  font-family: 'Lato', sans-serif;
  color: #263238;
  font-size: 1em;
}

/* .App {
  text-align: center;
} */

.App-header {
  background-color: #263238;
  height: 14vh;
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
  text-align: left;
}

.App-header>h1 {
  position: absolute;
  /* top: 32%; */
  top: 5.5vh;
  transform: translateY(-50%);
  font-weight: 600;
  font-size: calc(18px + 4.5vh);
  margin-left: 20px;
}

