body {
  font-family: 'Raleway', sans-serif;
  /* font-family: bitter, serif; */
  /* font-family: permanent-marker, sans-serif; */
  font-family: reenie-beanie, sans-serif;
  /* font-family: 'Chivo', sans-serif;
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Abhaya Libre', serif; */
}

body p, table {
  font-family: 'Open Sans', sans-serif;
  color: #263238;
  font-size: .9em;
}

/* .App {
  text-align: center;
} */

.App-header {
  background-color: #263238;
  height: 15vh;
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
  text-align: left;
}

.App-header>h1 {
  position: absolute;
  /* top: 32%; */
  top: 5vh;
  transform: translateY(-50%);
  font-weight: 500;
  font-size: calc(32px + 4.5vh);
  margin-left: 25px;
}

