.nav {
    overflow: hidden;
    text-align: right;
    padding: 1%;
    position: relative;
    /* top: 62%; */
    top: 8vh;
  }

  .nav-link {
    color: white;
    padding: 24px 2%;
    text-decoration: none;
    font-size: 32px;
    margin-top: 20px;
  }
  
  .nav-link:hover {
    font-size: 32px;
    font-weight: 600
  }
  
  .nav-link.active {
    font-size: 32px;
    font-weight: 600;
  }
  