.nav {
    overflow: hidden;
    position: relative;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #212121;
    padding: 1%;
    margin-top: 1%;
  }

  .nav-link {
    color: #212121;
    padding: 24px 10px;
    text-decoration: none;
    font-size: 15px;
    margin-top: 20px;
    padding: (10px, 10px);
  }
  
  .nav-link:hover {
    font-size: 20px;
    font-weight: 600
  }
  
  .nav-link.active {
    font-size: 20px;
    font-weight: 600
  }
  