.nav {
    overflow: hidden;
    position: relative;
    text-align: right;
    /* border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #212121; */
    padding: 1%;
    margin-top: 6%;
  }

  .nav-link {
    color: white;
    padding: 24px 2%;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .nav-link:hover {
    font-size: 20px;
    font-weight: 600
  }
  
  .nav-link.active {
    font-size: 20px;
    font-weight: 600
  }
  